.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
}

.grid div {
  width: 20px;
  height: 20px;  
}

.shapes {
  background-color: coral;
}

.mini-grid {
  width: 80px;
  height: 80px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  background-color: cyan;
}

.mini-grid div {
  width: 20px;
  height: 20px;  
}

.container {
  display: flex;
}