body {
  background-color: rgb(61, 90, 128);
}

h1 {
  color: rgb(224, 251, 252);
  font-family: Arcade, sans-serif;
  font-size: 64px;
  text-align: center;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color:rgb(152, 193, 217);
  border: 1px solid rgb(41, 50, 65);
}

.grid div {
  width: 20px;
  height: 20px;
}

.shapes {
  background-color: rgb(238, 108, 77);  
  box-sizing: border-box;
  border: 1px solid black; 
}

.mini-grid {
  width: 80px;
  height: 80px;
  margin-left: 75px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(152, 193, 217);
  border: 1px solid rgb(41, 50, 65);
}

.mini-grid div {
  width: 20px;
  height: 20px;  
}

.container {
  position: fixed;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
}

.info {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.score-display {
  margin-left: 50px;
  text-align: center;
  color: rgb(224, 251, 252);
  font-family: Arcade, sans-serif;
  font-size: 40px;
  margin-left: 40px;
}

#score {
  margin-left: 50px;
  text-align: center;
  color: rgb(224, 251, 252);
  font-family: Arcade, sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.start-button {
  margin-left: 75px;
  background-color: rgb(41, 50, 65);  
  height: 90px;
  width: 90px;
  text-align: center;
  border-radius: 80px;
  border: 5px solid rgb(224, 251, 252);
  color: rgb(224, 251, 252);
  font-family: Arcade, sans-serif;
  font-size: 30px;  
}

.start-button:active {
  background-color: rgb(224, 251, 252);
  border: 5px solid rgb(41, 50, 65);
  color: rgb(41, 50, 65);
  transform: translate(2px, 2px);
}

@font-face {
  font-family: Arcade;
  src: url('font/arcade/ARCADE.TTF')
       format('truetype');
}